h1{
    color: blue;
    text-decoration: underline;
    position: absolute;
    left: 20%;
}
#img{
    height: 300px;  
    top: 20px;
    left: 25%;
    position: absolute;
    top: 80px;
}
.container{
    /* justify-items: center; */
    position: relative;
    width: 600px;
    height: 500px;
    background-color: aqua;
    border: 1px solid black;
}
.indam{
    color: red;
    font-size: large;
    font-weight: 100;
}
.anh2{
    width: 120px;
    position: absolute;
    top: 440px;
    left: 40%;
}
p{
   position: absolute;
   top: 390px;
   left: 40%;
}
